@use '../../../public/assets/styles/all-styles.scss' as all;

main {
  width: 100%;
  height: fit-content;
  padding: 20px 5% 0px;
}

#logo {
  position: absolute;
  left: 10%;
  top: 8%;
  z-index: 10;
}

.button {
  background-color: all.$blue;
  font-size: 2rem;
  color: white;
  padding: 12px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: all.$blueLight;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  }
  &:disabled {
    pointer-events: none;
    background-color: all.$greyMid;
    box-shadow: none;
  }
}

.button-light{
  background-color: white;
  font-size: 2rem;
  color: all.$blue;
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid all.$blue;

  &:hover {
    color: all.$blueLight;
    border: 2px solid all.$blueLight;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  }
}

header {
  height: 100px;
  #sign-up-area {
    @include all.flexi($jc: flex-end, $gap: 16px);
    height: 100px;
  }
}

#main-content {
  @include all.flexi();

}

#sign-up-wrapper {
  background-color: white;
  height: fit-content;
  padding: clamp(10px, 3vw, 30px);
  width: 50%;
  min-width: 300px;
  border-radius: 30px;
  overflow: hidden;
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.1));
}

#sign-up-header {
  width: 100%;
  @include all.flexi();
  height: 150px;
  button {
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;

    &:hover {
      background-color: all.$grey;
    }
  }

  #sign-up-headline {
    @include all.flexi($fd: column, $gap: 8px);
    h2 {
      font-size: 6rem;
    }

    img{
      width: 130px;
      height: 3.5px;
    }
  }

  button {
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 5%;
  }
}

#form {
  // @include all.flexi($ai: center);
  #sign-up-form {
    height: 100%;
    width: 100%;
  }

  .input-wrapper {
    width: 100%;
    margin-bottom: 15px;
    @include all.flexi($fd: column, $ai: center);

    .icon {
      position: absolute;
      right: 16%;
      top: 27%;
      z-index: 1;

      &--lock {
        top: 23%;
      }
    }

    input {
      width: 75%;
      border-radius: 10px;
      border: 2px solid rgb(232, 232, 232);
      padding: 10px 40px 10px 15px;
      cursor: pointer;

      &::placeholder{
        color:rgb(209, 209, 209)
      }

      &:focus {
        outline: none;
        border: 2px solid all.$blueLight;
      }
      &.ng-invalid.ng-touched {
        border: 2px solid red;
      }
    }
  }
  .error-message {
    margin-top: 3px;
    font-size: 1rem;
    color: red;
    height: 12px;
  }

  #checkbox-content {
    @include all.flexi($fd: column);

    #checkbox-wrapper {
      @include all.flexi($gap: 8px);

      .custom-checkbox {
        padding: 1px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: all.$grey;
        }
      }

      p {
        color: grey;
      }

      a {
        font-size: 2rem;
        color: all.$blueLight;
      }
    }
  }
}

#sign-up-footer {
  @include all.flexi();
  margin-top: 24px;
}

#log-in-buttons{
  @include all.flexi($gap: 35px);
  margin: 20px 0;
}

footer {
  @include all.flexi($gap: 40px);
  color: rgb(189, 189, 189);
  cursor: pointer;
  height: 100px;

  a {
    &:hover {
      color: all.$blueLight;
      filter: drop-shadow(0.3px 0 0 currentcolor)
            drop-shadow(-0.3px 0 0 currentcolor)
            drop-shadow(0 0.3px 0 currentcolor);
    }
  }
}
