@use '../../../public/assets/styles/all-styles.scss' as all;

main {
  width: 100%;
  height: 100dvh;
  display: grid;
  grid-template-rows: 15% 1fr 15%;
  padding: 50px 5%;
}

#logo {
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 10;
}

.button {
  background-color: all.$blue;
  font-size: 1.6rem;
  color: white;
  padding: 12px 16px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;

  &:hover {
    background-color: all.$blueLight;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.4);
  }
  &:disabled {
    pointer-events: none;
    background-color: all.$greyMid;
    box-shadow: none;
  }
}

header {
  #sign-up-area {
    @include all.flexi($jc: flex-end, $gap: 16px);
  }
}

#main-content {
  @include all.flexi();
}

#sign-up-wrapper {
  background-color: white;
  height: 100%;
  width: 50%;
  border-radius: 30px;
  display: grid;
  grid-template-rows: 20% 1fr 10%;
  overflow: hidden;
}

#sign-up-header {
  width: 100%;
  //   background-color: green;
  @include all.flexi();

  button {
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;

    &:hover {
      background-color: all.$grey;
    }
  }

  #sign-up-headline {
    @include all.flexi($fd: column, $gap: 8px);
    h2 {
      font-size: 3rem;
    }
  }

  button {
    background-color: transparent;
    position: absolute;
    top: 30%;
    left: 5%;
  }
}

#form {
  @include all.flexi($ai: start);

  #sign-up-form {
    height: 100%;
  }

  .input-wrapper {
    margin: 20px 0px;
    @include all.flexi($fd: column, $ai: flex-start);

    .icon {
      position: absolute;
      right: 5%;
      top: 20%;
      z-index: 1;

      &--lock {
        top: 15%;
      }
    }

    input {
      border-radius: 6px;
      border: 2px solid all.$greyMid;
      padding: 5px 40px 5px 5px;

      &:focus {
        outline: none;
        border: 2px solid all.$blueLight;
      }
      &.ng-invalid.ng-touched {
        border: 2px solid red;
      }
    }
  }
  .error-message {
    margin-top: 3px;
    font-size: 1rem;
    color: red;
    visibility: hidden;
    &--visible {
      visibility: visible;
    }
  }

  #checkbox-content {
    @include all.flexi($fd: column);

    #checkbox-wrapper {
      @include all.flexi($gap: 8px);

      .custom-checkbox {
        padding: 1px;
        border-radius: 8px;
        cursor: pointer;

        &:hover {
          background-color: all.$grey;
        }
      }

      p {
        color: grey;
      }

      a {
        font-size: 2rem;
        color: all.$blueLight;
      }
    }
  }
}

#sign-up-footer {
  @include all.flexi();
}

footer {
  @include all.flexi($gap: 40px);
  color: grey;
  cursor: pointer;

  a {
    &:hover {
      color: all.$blueLight;
      filter: drop-shadow(0.3px 0 0 currentcolor) 
            drop-shadow(-0.3px 0 0 currentcolor)
            drop-shadow(0 0.3px 0 currentcolor);
    }
  }
}
