@use '../../../../public/assets/styles/all-styles.scss' as all;

main{
  display: grid;
  grid-template-rows: 20% 1fr 15%; /* Header 15%, Rest flexibel, Footer 10% */
  height: 100%; /* Oder 100%, falls der Parent die Höhe vorgibt */
  width: 100%;
  overflow: hidden;
  &.edit-mode {
    grid-template-rows: 10% 1fr 15%;
  }
}

#headline {
  @include all.flexi($jc: flex-start);
  margin-inline: 5%;
  grid-row: 1;

  h2{
    font-size: 6rem;
  }
}

.asterisk {
  color: red;
}

form {
  grid-row: 2;
  display: flex;
  justify-content: space-between;
  min-height: 50%;
  max-width: calc(1440px - 232px);
  // max-height: 100%;
  width: 100%;
  padding-inline: 5%;
  overflow-y: auto;

  &.edit-mode {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 1250px) {
    flex-direction: column;
    align-items: center;
    padding-inline: 0%;
  }

  .content {
    width: 45%;
    height: fit-content;
    max-width: 1060px;
    overflow: visible;
    @include all.flexi($fd: column, $ai: flex-start);

    &.edit-mode{
      width: 100%;
    }

    @media (max-width: 1250px) {
      width: clamp(300px, 90%, 400px);
    }

    h3 {
      margin-block: 16px 8px;
      font-weight: normal;
      font-size: 18px;
    }

    input,
    textarea,
    .input-container {
      border-radius: 8px;
      border: 2px solid all.$greyMid;
      padding: 12px 8px;
      background-color: white;
      min-height: 50px;
      width: 98%;
      outline: none;
      transition: 0.3s;
      &[type='date']:hover {
        cursor: text;
      }
      &:focus {
        border-color: all.$blueLight;
      }
      &.invalid-border {
        border-color: red;
      }
      &.ng-invalid.ng-touched {
        border-color: red;
      }
    }
    textarea{
      min-width: 98%;
      max-width: 98%;
      max-height: 250px;
    }

    #priorities {
      @include all.flexi($jc: space-between);
      margin-left: 4px;
      width: calc(98% - 8px);

      @include all.tablet {
        @include all.flexi($fd: column, $gap: 16px);

        .importance {
          width: 80%;
        }
      }

      .importance {
        @include all.flexi($gap: 8px);
        box-shadow: 0px 0px 3px all.$greyMid;
        border-radius: 8px;

        @media (max-width: 1250px) {
          padding: 8px 8px;
        }

        &:hover {
          cursor: pointer;
          box-shadow: 0px 4px 3px all.$greyMid;
        }

        img {
          width: 21px;
        }
      }
    }

    #subtask-block {
      width: 100%;

      #subtask-input-buttons{
        @include all.flexi($jc: space-between);
        position: absolute;
        right: 5%;
        top: 5%;
        width: 15%;
        height: 95%;
        min-width: 60px;
      }

      button {
        background: none;
        border-radius: 50%;
        padding: 6px;

        &:hover {
          background-color: all.$greyMid;
          cursor: pointer;
        }
      }

      #small-line {
        height: 70%;
        width: 1px;
        background-color: all.$greyMid;
      }
    }

    #subtask-content {
      margin-top: 8px;
      width: 100%;
      height: 95px;
      overflow-y: auto;
      @include all.flexi($fd: column, $jc:flex-start);


      .subtask-row {
        width: 100%;
        @include all.flexi($jc: space-between);
        font-size: 16px;
        border-radius: 8px;

        &:hover {
          background-color: all.$greyMid;
          .subtasks-buttons .hover {
            display: block;
          }
        }

        &:has(#subtask-input:focus) {
          #dot {
            display: none;
          }
          .subtasks-buttons .hover {
            display: none;
          }
          .subtasks-buttons .seperator {
            display: block;
          }
          .subtasks-buttons .focus {
            display: block;
          }
        }

        #dot {
          position: absolute;
          left: 0;
          width: 6px;
          height: auto;
          z-index: 999;
        }

        #subtask-input {
          background-color: transparent;
          list-style-position: inside;
          list-style-type: disc;
          width: 100%;
          border: none;
          outline: none;
          padding: 0px 70px 0px 15px;
          min-height: 30px;
          height: 30px;
          cursor: pointer;

          &:focus {
            background-color: white;
            border-radius: 0px;
            border-bottom: 1px solid all.$blueLight;
            list-style-type: none;

            #dot {
              display: none;
            }
          }
        }

        .seperator {
          width: 2px;
          height: 20px;
          background-color: grey;
        }

        .subtasks-buttons {
          position: absolute;
          right: 1%;
          top: 5%;
          height: 100%;
          width: 15%;
          @include all.flexi($ai: center, $gap: 6px);
          align-items: center;

          .buttons {
            cursor: pointer;
            background-color: transparent;

            #pointer-none {
              pointer-events: none;
              background-color: red;
            }
          }

          .hover {
            display: none;
          }
          .focus {
            display: none;
          }
        }
      }
    }

    #category-block {
      width: 100%;
    }

    #options {
      position: absolute;
      right: 0;
      top: 12px;
      padding: 8px;
      background: none;

      &:hover {
        cursor: pointer;
        border-radius: 50%;
        background-color: all.$greyMid;
      }
    }
  }
}

#big-line {
  height: 100%;
  width: 2px;
  background-color: all.$greyMid;
}

#bottom {
  grid-row: 3;
  @include all.flexi($jc: space-between);
  max-width: calc(1440px - 232px);
  width: 100%;
  padding-block: 16px;
  padding-inline: 5%;

  @include all.notebook {
    @include all.flexi($jc: center, $fd: column, $gap: 16px);
    position: sticky;
  }

  #declaration {
    font-size: 16px;
  }

  #buttons {
    @include all.flexi($gap: 16px);

    button {
      @include all.flexi($gap: 8px);
      font-size: clamp(1.6rem, 2vw, 1.8rem);
      border-radius: 8px;
      padding: 12px clamp(12px, 3vw, 24px);

      &#create {
        color: white;
        background-color: all.$blue;

        &:hover {
          cursor: pointer;
          background-color: all.$blueLight;
        }
      }

      &#clear {
        color: all.$blue;
        border: 1px solid all.$blue;
        background: transparent;

        #hovered {
          display: none;
        }

        &:hover {
          cursor: pointer;
          color: all.$blueLight;
          box-shadow: 0px 3px 3px all.$greyMid;
          border-color: all.$blueLight;

          #hovered {
            display: block;
          }

          #unhovered {
            display: none;
          }
        }
      }

      img {
        width: 16px;
      }
    }
  }
}

@include all.notebook {
  p,
  input,
  textarea {
    font-size: 1.8rem;
  }
}

@include all.tablet {
  p,
  input,
  textarea {
    font-size: 1.6rem;
  }
}

button.importance {
  background-color: white;
  padding: 10px 16px;
  &.active-urgent {
    background-color: #ff3d00;
    p {
      color: white;
    }
  }
  &.active-medium {
    background-color: #ffa800;
    p {
      color: white;
    }
  }
  &.active-low {
    background-color: #7ae229;
    p {
      color: white;
    }
  }
}

#assign-contacts,
#category-select {
  position: relative;
  width: 100%;

  .input-container {
    display: flex;
    align-items: center;
    //z-index: 999;
    cursor: pointer;
    height: fit-content;
    padding: 0;

    input {
      border: none;
      width: 100%;
      cursor: pointer;
      outline: none;
    }

    .drop-down {
      transition: transform 0.2s ease;
      border-radius: 50%;
      background: none;
      padding: 6px 8px;

      &:hover {
        cursor: pointer;
        background-color: all.$greyMid;
      }

      img {
        width: 8px;
        height: auto;
      }
    }
  }

  #assigned-contacts-badges {
    gap: 0;

    .assignee-badge {
      @include all.flexi();
      width: 40px;
      height: 40px;
      padding: 3px;
      margin: 3px;
      border-radius: 50%;
      color: white;
    }
  }

  #contacts-list-dropdown,
  #category-dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    width: 98%;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 10px;
    max-height: 250px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: -1px;
    max-height: 175px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 20px;
      cursor: pointer;
      transition: background-color 0.2s ease;
      border-radius: 10px;
      margin: 2px 0;

      &:hover {
        background-color: #f0f0f0;
      }

      &.selected-contact {
        background-color: #2a3647;

        .contact-name {
          color: white;
        }

        .custom-checkbox {
          border-color: white;
          background-color: transparent;
        }
      }

      &.category-name-list {
        font-size: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: block;
      }
    }
  }

  .custom-checkbox {
    transition: all 0.2s ease;
  }

  .contact-info {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 80%;
    overflow: hidden;

    .contact-name {
      font-size: 16px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
    }
  }
}

.initials-circle {
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
  font-weight: 400;
  flex-shrink: 0;
}

#assigned-contacts-badges {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-top: 4px;
    min-height: 18px;
}
