@use '../../../../public/assets/styles/all-styles.scss' as all;

section {
  display: flex;
  justify-content: space-between;
  min-height: 50%;
  max-width: 1070px;
  width: 100%;
  margin-top: 32px;
  overflow-y: auto;

  .content {
    width: 100%;
    max-width: 1060px;
    @include all.flexi($fd: column, $ai: flex-start);

    p {
      margin-block: 16px 8px;
    }

    input,
    textarea {
      border-radius: 8px;
      box-shadow: 0px 0px 2px;
      padding: 12px 8px;
      background-color: white;
      width: 90%;
      margin: 3px;

      &:focus {
        box-shadow: all.$blueLight;
      }
    }

    span {
      color: red;
    }

    #descrition {
      flex: 1;
    }

    #priorities {
      @include all.flexi($gap: 16px);

      .importance {
        @include all.flexi($gap: 8px);
        background-color: white;
        box-shadow: 0px 0px 3px all.$greyMid;
        border-radius: 8px;
        padding: 10px;

        &:hover {
          cursor: pointer;
          box-shadow: 0px 4px 3px all.$greyMid;
        }

        p {
          margin: 0;
        }

        img {
          width: 21px;
        }
      }
    }

    #plus {
      position: absolute;
      right: 24px;
      top: 12px;
      padding: 8px;
      background: none;

      &:hover {
        cursor: pointer;
        border-radius: 50%;
        background-color: all.$greyMid;
      }
    }
  }
}

#line {
  height: auto;
  width: 2px;
  background-color: all.$greyMid;
  margin-inline: 32px;
}
