@use '../../../../public/assets/styles/all-styles.scss' as all;

main {
  width: 100%;
  height: inherit;
  @include all.flexi($jc: center);
  padding: 64px 0px;
  color: all.$grey;

  > section {
    width: 100%;
    height: 100%;
    @include all.flexi($fd: column, $ai: center, $jc: space-between);
  }
}

#menu {
  @include all.flexi($fd: column, $ai: center);
}

#logo {
  margin-bottom: 40px;
  width: 101px;
  height: 122px;
}

nav {
  @include all.flexi($fd: column, $ai: center, $gap: 15px);

  .navigation {
    @include all.flexi($gap: 16px, $jc: flex-start);
    padding: 8px 56px;
    width: all.$nav-width;
    // background-color: all.$blueDark;
    min-height: 50px;

    &:hover {
      // was ist hier los????
      cursor: pointer;
      background-color: all.$blueDark;
    }

    img {
      width: 30px;
      height: 31px;
    }
  }
}

#legal-links {
  width: 100%;
  @include all.flexi($fd: column, $ai: flex-start);

  >a {
    padding: 8px 8px 8px 52px;

    &:hover {
      cursor: pointer;
      color: all.$blueLight;
    }
  }
}
