@use '../../../../public/assets/styles/all-styles.scss' as all;

main {
  width: 100%;
  height: inherit;
  @include all.flexi($jc: center);
  padding: 64px 0px;
  color: all.$greyMid;

  > section {
    width: 100%;
    height: 100%;
    @include all.flexi($fd: column, $ai: center, $jc: space-between);
  }
}

#menu {
  @include all.flexi($fd: column, $ai: center);
}

#logo {
  margin-bottom: 40px;
  width: 101px;
  height: 122px;
}

nav {
  @include all.flexi($fd: column, $ai: center, $gap: 15px);

  .navigation {
    @include all.flexi($gap: 8px, $jc: flex-start);
    padding: 8px 56px;
    width: all.$nav-width;
    min-height: 50px;
    z-index: 5;

    &:not(.active):hover {
      cursor: pointer;
      background-color: all.$blueHover;
    }

    img {
      width: 25px;
      height: 26px;
    }
  }

  .active {
    background-color: all.$blueDark;
    color: white;

    > img {
      filter: brightness(0) invert(1);
    }
  }
}

#legal-links {
  width: 100%;
  @include all.flexi($fd: column, $ai: flex-start);
  z-index: 10;

  > a {
    padding: 8px 8px 8px 52px;
    width: 100%;

    &:hover {
      cursor: pointer;
      color: all.$blueLight;
      font-weight: bold;
      transform: translateX(6px) scale(1.1);
    }
  }
}

#responsive {
  display: none;
}

//#region Mediaquerries

@include all.notebook {
  #logo {
    display: none;
  }

  #legal-links {
    display: none;
  }

  main {
    padding: 0;

    > section {
      display: flex;
      align-items: flex-start;
    }
  }

  #menu {
    width: 100%;
    padding: 10px 4px;

    > div {
      width: 100%;
      padding: 0px 10px;
    }
  }

  nav {
    @include all.flexi($jc: space-between, $gap: 0px);
    width: 100%;

    //innerhalb meines a-tag
    .navigation {
      @include all.flexi($fd: column, $gap: 4px);
      width: clamp(70px, 15vw, 232px);
      padding: 8px 0px;
      margin: 0;
      border-radius: 8px;

      > img {
        width: clamp(20px, 4vw, 25px);
        height: clamp(21px, 4vw, 26px);
      }

      span {
        font-size: clamp(1.4rem, 3vw, 2rem);
      }
    }
  }

}


//#endregion
