@use '../../public/assets/styles/all-styles.scss' as all;

app-navbar {
  height: 100dvh;
  background-color: all.$blue;
}

app-header {
  background-color: white;
  color: black;
  filter: drop-shadow(0 1px 4px rgba(110, 110, 110, 0.4));
  z-index: 1;
}

#notification-msg {
  width: 300px;
  height: 75px;
  color: white;
  background-color: all.$blue;
  padding: 14px;
  border-radius: 10px;
  z-index: 999;
  position: fixed;
  top: 50%;
  right: -300px;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  text-align: center;

  &.show {
    right: 15%;
    opacity: 1;
  }
  span {
    font-size: 20px;
    height: 100%;
    width: 100%;
  }
}
