@use '../../public/assets/styles/all-styles.scss' as all;

app-navbar {
  height: 100dvh;
  background-color: all.$blue;
}

app-header {
  background-color: white;
  color: black;
  filter: drop-shadow(0 1px 4px rgba(110, 110, 110, 0.4));
  z-index: 1;
}
