@use '../../../../public/assets/styles/all-styles.scss' as all;

.contact-site {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
  @media (max-width: 1024px) {
    &.mobile-details-open {
      .main-contacts-list {
        display: none;
      }
      .main-contact-info {
        display: block;
        width: 100%;
        padding: 0 20px;
        .contact-description {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}

.main-contacts-list {
  width: 40%;
  height: calc(100vh - 96px);
  @media (max-width: 1024px) {height: calc(100vh - 96px - 80px); width: 100%;}
  padding: 0px 20px;

  .list {
    width: 100%;
    height: calc(100% - 20px - 56px);
    overflow-y: auto;

    .letter {
      width: 100%;
      height: 58px;
      display: flex;
      align-items: flex-start;
      padding-left: 20px;
      font-size: 20px;
      flex-direction: column;
      align-content: flex-start;
      justify-content: center;
    }

    .line-contacts {
      width: 100%;
      border: 1px;
      background-color: all.$greyMid;
      height: 1px;
    }

    .simple-info {
      height: 58px;
      padding-left: 20px;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      margin: 16px 0px;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: all.$greyMid;
      }
    }

    .active {
      background-color: all.$blue;
      color: all.$grey;
    }

    .email {
      color: all.$blueLight;
    }

    .roundContact {
      border-radius: 50%;
      height: 75%;
      aspect-ratio: 1;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
      color: white;
      border: medium solid white;
    }
  }

  .add-contact-btn {
    background-image: url(/assets/icons/add-person.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-color: all.$blue;
    color: white;
    border-radius: 10px;
    border: 1px;
    width: 100%;
    height: 56px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    z-index: 90;
    &:hover {
      background-color: all.$blueLight;
    }
    @media (max-width: 1024px) {display: none;}
  }

  .mobile-add-contact-btn-div{
    @media (min-width: 1024px) {display: none !important;}
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;

    .add-contact-btn-mobile{
      height: 56px;
      width: 56px;
      border-radius: 50%;
      background-color: all.$blue;
      background-image: url(/assets/icons/add-person.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 75%;
      cursor: pointer;
      &:hover{
        background-color: all.$blueLight;
      }
    }
  }
}

.main-contact-info {
  width: 60%;
  height: 100%;
  padding: 0px 40px;
  overflow: hidden;
  @media (max-width: 1024px) {display: none; width: 100%;}

  .contact-header {
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    gap: 30px;
    @media (max-width: 1024px) {
      height: unset;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
    &__title {
      font-size: clamp(40px, 10vw, 60px);
      width: 70%;
      font-weight: 700;
      @media (max-width: 1024px) { order: 1; width: 100%;}
    }
    &__separator {
      height: 100%;
      width: 2px;
      background-color: all.$blueLight;
      @media (max-width: 1024px) {
        height: 2px;
        width: 90px;
        order: 3;
    }
    }
    &__description {
      width: 30%;
      font-size: 18px;
      font-weight: 400px;
      @media (max-width: 1024px) { order: 2;}
    }
  }

  .contact-description {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    &.active-view {
      transform: translateX(0);
      opacity: 1;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
    .header-details {
      width: 100%;
      height: 140px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      .name-container {
        padding-left: 20px;
        h3 {
          font-size: clamp(24px, 8vw, 48px);
          font-weight: 500;
        }
        .action-buttons {
          @media (max-width: 1024px) {display: none !important;}
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;
          .btn-edit {
            padding-left: 10px;
            width: 54px;
            height: 24px;
            background-image: url(/assets/icons/edit-blue.png);
            background-repeat: no-repeat;
            background-position: left;
            background-color: transparent;
            background-size: 30%;
            cursor: pointer;
            color: black;
            font-size: 18px;
            z-index: 90;
            &:hover {
              background-image: url(/assets/icons/edit-light-blue.png);
              color: all.$blueLight;
            }
          }
          .btn-delete {
            padding-left: 20px;
            width: 70px;
            height: 24px;
            background-image: url(/assets/icons/delete-blue.png);
            background-repeat: no-repeat;
            background-position: left;
            background-color: transparent;
            background-size: 25%;
            cursor: pointer;
            color: black;
            font-size: 18px;
            z-index: 90;
            &:hover {
              background-image: url(/assets/icons/delete-light-blue.png);
              color: all.$blueLight;
            }
          }
        }
      }
    }
    h4 {
      font-size: 20px;
      font-weight: normal;
      padding-top: 20px;
      margin: 20px 0px;
    }
    h5 {
      font-size: 18px;
      font-weight: normal;
      padding: 15px 0px;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      a{
        color: all.$blueLight;
      }
    }
  }

  .mobile-menu-btn-div{
    @media (min-width: 1024px) {display: none !important;}
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    .mobile-menu-btn{
      height: 56px;
      width: 56px;
      border-radius: 50%;
      background-color: transparent;
      background-image: url(/assets/icons/menu-blue.png);
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      cursor: pointer;
      order: 2;
      &:hover{
        background-image: url(/assets/icons/menu-light-blue.png);
      }
    }
    .mobile-options-menu{
      position: absolute;
      bottom: 5px;
      right: 56px;
      background: white;
      border-radius: 20px 20px 0px 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
      display: flex;
      flex-direction: column;
      padding: 10px;
      width: 92px;
      height: 68px;
      z-index: 100;
      gap: 10px;
      .btn-edit-mobile{
        padding-left: 10px;
        background-image: url(/assets/icons/edit-blue.png);
        background-repeat: no-repeat;
        background-position: left;
        background-color: transparent;
        background-size: 25%;
        cursor: pointer;
        color: black;
        font-size: 18px;
        z-index: 90;
        &:hover {
          background-image: url(/assets/icons/edit-light-blue.png);
          color: all.$blueLight;
        }
      }
      .btn-delete-mobile{
        padding-left: 25px;
        background-image: url(/assets/icons/delete-blue.png);
        background-repeat: no-repeat;
        background-position: left;
        background-color: transparent;
        background-size: 25%;
        cursor: pointer;
        color: black;
        font-size: 18px;
        z-index: 90;
        &:hover {
          background-image: url(/assets/icons/delete-light-blue.png);
          color: all.$blueLight;
        }
      }
    }
  }
}

.roundContact-large {
  height: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  font-size: 47px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  color: white;
  border: medium solid white;
}

.mobile-back-btn {
  display: none;
  @media (max-width: 1024px) {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url(/assets/icons/arrow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 90%;
  max-width: 1440px;
  height: 90%;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
  }

  #close {
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 8px;
    background-color: transparent;
    z-index: 110;

    #hover-close {
      display: none;
    }

    &:hover {
      cursor: pointer;
      #default-close {
        display: none;
      }
      #hover-close {
        display: block;
      }
    }
  }

  > div {
    display: flex;
    width: 100%;
    height: 100%;
  }

  #left-section {
    padding-left: 40px;
    width: 40%;
    background-color: all.$blue;
    color: white;
    @include all.flexi($fd: column, $ai: flex-start);

    #logo {
      width: 57px;
      height: 67px;
    }

    h3 {
      font-size: 6rem;
      margin-top: 10px;
    }

    p {
      margin: 22.5px 0px;
      font-size: 2.8rem;
    }
  }

  #right-section {
    width: 60%;
    @include all.flexi($jc: flex-start);

    #user {
      width: 30%;
      @include all.flexi($ai: center);
      margin: 0px 16px;
    }

    #form-container {
      width: 100%;
      height: 100%;
      @include all.flexi($ai: center, $jc: center);

      .input-icons {
        width: 100%;
        @include all.flexi($ai: center, $jc: center);

        .icon {
          position: absolute;
          z-index: 100;
          right: 15%;
        }
      }
    }

    form {
      width: 100%;
      @include all.flexi($fd: column, $ai: center, $jc: center, $gap: 32px);
    }

    input {
      width: 80%;
      border-radius: 10px;
      box-shadow: 0px 0px 1px;
      padding: 8px 21px;
      margin: 3px;

      &::placeholder {
        font-size: 1.3rem;
      }
    }
  }

  #dialog-buttons {
    width: 100%;
    @include all.flexi($jc: center, $gap: 24px);

    #cancel {
      @include all.flexi($jc: center, $ai: center, $gap: 8px);
      background-color: transparent;
      border: 1px solid black;
      padding: 16px 16px;
      border-radius: 8px;
      font-size: 2rem;

      #cancel-hover {
        display: none;
      }

      &:hover {
        cursor: pointer;
        color: all.$blueLight;
        border-color: all.$blueLight;

        #cancel-default {
          display: none;
        }
        #cancel-hover {
          display: block;
        }
      }
    }

    #create-contact {
      @include all.flexi($jc: center, $ai: center, $gap: 8px);
      background-color: all.$blue;
      padding: 16px 16px;
      border-radius: 8px;
      font-size: 2rem;
      color: white;

      &:hover {
        background-color: all.$blueLight;
      }
    }
  }
}
