@use '../../../../public/assets/styles/all-styles.scss' as all;
@use './dialog.scss';

.contact-site {
  width: 100%;
  @include all.flexi($jc: flex-start, $fd: row, $ai: flex-start, $gap: unset);
  flex-wrap: nowrap;
  align-content: flex-start;
  max-width: calc(1440px - 232px);
  @include all.notebook {
    &.mobile-details-open {
      .main-contacts-list {
        display: none;
      }
      .main-contact-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 20px;
        .contact-description {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}

.main-contacts-list {
  width: 38%;
  min-width: 356px;
  height: calc(100vh - 96px);
  filter: drop-shadow(4px 1px 4px rgba(110, 110, 110, 0.2));
  @include all.notebook {
    height: calc(100% - 96px - 80px);
    width: 100%;
    min-width: unset;
  }
  padding: 0px 0px 0px 20px;
  background-color: white;
  @include all.flexi($fd: column);

  .list {
    padding-right: 20px;
    padding-left: 20px;
    width: 95%;
    @include all.notebook {width: 100%;}
    height: 100%;
    overflow-y: auto;
    margin-top: 20px;

    .letter {
      width: 100%;
      height: 58px;
      padding-left: 20px;
      font-size: 20px;
      font-weight: 400;
      @include all.flexi($jc: center, $fd: column, $ai: flex-start, $gap: unset);
      align-content: flex-start;
    }

    .line-contacts {
      width: 95%;
      border: 1px;
      background-color: all.$greyMid;
      height: 1px;
    }

    .simple-info {
      height: 58px;
      width: 96%;
      padding-left: 16px;
      font-size: 20px;
      @include all.flexi($jc: flex-start, $fd: row, $ai: center, $gap: 24px);
      flex-wrap: nowrap;
      align-content: center;
      margin: 8px 0px;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: all.$greyMid;
      }
      @include all.mobile {
        padding-left: 0;
      }

      span {
        font-size: 1.6rem;
      }
    }

    .text-cut {
      @include all.text-cut;
    }

    .active {
      background-color: all.$blue;
      color: all.$grey;
    }

    .email {
      color: all.$blueLight;
    }

    .simple-info span.roundContact {
      font-size: 1.2rem;
    }

    .roundContact {
      border-radius: 50%;
      height: 75%;
      aspect-ratio: 1;
      text-align: center;
      @include all.flexi($jc: center, $fd: row, $ai: center, $gap: unset);
      align-content: center;
      color: white;
      border: medium solid white;
    }
  }

  .btn-cover {
    width: 100%;
    background-color: white;
    box-shadow: 0px 20px 12px white;
    position: sticky;
    top: 0;
    z-index: 90;

    .add-contact-btn {
    background-repeat: no-repeat;
    background-position: 90%;
    background-color: all.$blue;
    color: white;
    border-radius: 10px;
    border: 1px;
    width: 96%;
    height: 56px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    @include all.flexi();

    >img{
      margin-left: 12px;
    }
    &:hover {
      background-color: all.$blueLight;
    }
    @include all.notebook {
      display: none;
    }
    }
  }

  .add-contact-btn-mobile {
    position: sticky;
    bottom: 8px;
    align-self: flex-end;
    margin-right: 16px;
    height: 56px;
    width: 56px;
    border-radius: 50%;
    background-color: transparent;
    background-image: url('../../../../public/assets/icons/add-contact-blue.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    @include all.desktop {
    display: none;
  }
    &:hover {
    background-image: url('../../../../public/assets/icons/add-contact-light-blue.png');
    }
  }
}

.main-contact-info {
  width: 60%;
  height: calc(100dvh - 75px - 90px);
  padding: 0px 40px;
  overflow: hidden;
  @include all.notebook {
    display: none;
    width: 100%;
  }

  .contact-header {
    margin: 40px 0px;
    @include all.flexi($jc: flex-start, $fd: row, $ai: center, $gap: 20px);
    flex-wrap: nowrap;
    align-content: center;
    height: 60px;
    @include all.notebook {
      height: unset;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
    }
    &__title {
      font-size: clamp(40px, 10vw, 60px);
      width: 50%;
      min-width: 250px;
      font-weight: 700;
      @include all.notebook {
        order: 1;
        width: 100%;
      }
    }
    &__separator {
      height: 100%;
      width: 2px;
      background-color: all.$blueLight;
      @include all.notebook {
        height: 2px;
        width: 90px;
        order: 3;
      }
    }
    &__description {
      width: 30%;
      font-size: 18px;
      font-weight: 400;
      @include all.notebook {
        order: 2;
        width: 100%;
      }
    }
  }

  .contact-description {
    @include all.flexi($jc: center, $fd: column, $ai: flex-start, $gap: unset);
    flex-wrap: nowrap;
    align-content: flex-start;
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
    &.active-view {
      transform: translateX(0);
      opacity: 1;
      transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
    .header-details {
      width: 100%;
      height: 140px;
      @include all.flexi($jc: flex-start, $fd: row, $ai: center, $gap: 10px);
      flex-wrap: nowrap;

      .name-container {
        padding-left: 20px;
        h3 {
          font-size: clamp(20px, 3.5vw, 48px);
          font-weight: 500;
        }
        .action-buttons {
          @include all.flexi($jc: flex-start, $fd: row, $ai: center, $gap: 24px);
          flex-wrap: nowrap;
          @include all.notebook {
            display: none;
          }
          .btn-edit {
            padding-left: 20px;
            width: 64px;
            height: 24px;
            background-image: url('../../../../public/assets/icons/edit-blue.png');
            background-size: 30%;
            &:hover {
              background-image: url('../../../../public/assets/icons/edit-light-blue.png');
            }
          }
          .btn-delete {
            padding-left: 27px;
            width: 80px;
            height: 24px;
            background-image: url('../../../../public/assets/icons/delete-blue.png');
            background-size: 25%;
            &:hover {
              background-image: url('../../../../public/assets/icons/delete-light-blue.png');
            }
          }
          .btn-edit,
          .btn-delete {
            background-color: transparent;
            background-repeat: no-repeat;
            background-position: left;
            cursor: pointer;
            color: black;
            font-size: 18px;
            z-index: 90;
            &:hover {
              color: all.$blueLight;
            }
          }
        }
      }
    }
    h4 {
      font-size: 20px;
      font-weight: normal;
      padding-top: 20px;
      margin: 20px 0px;
    }
    h5 {
      font-size: 18px;
      font-weight: normal;
      padding: 15px 0px;
    }
    p {
      font-size: 16px;
      font-weight: normal;
      a {
        color: all.$blueLight;
      }
    }
  }

  .mobile-menu-btn {
    height: 56px;
    width: 56px;
    position: sticky;
    top: calc(100% - 8px);
    align-self: flex-end;
    margin-right: 26px;
    border-radius: 50%;
    background-color: transparent;
    background-image: url('../../../../public/assets/icons/menu-blue.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    order: 2;
  @include all.desktop {
    display: none;
  }
    &:hover {
      background-image: url('../../../../public/assets/icons/menu-light-blue.png');
    }
  }
  .mobile-options-menu {
    position: absolute;
    bottom: 5px;
    right: 56px;
    background: white;
    border-radius: 20px 20px 0px 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 92px;
    height: 68px;
    z-index: 100;
    gap: 10px;
    .btn-edit-mobile {
      padding-left: 10px;
      background-image: url('../../../../public/assets/icons/edit-blue.png');
      &:hover {
        background-image: url('../../../../public/assets/icons/edit-light-blue.png');
      }
    }
    .btn-delete-mobile {
      padding-left: 25px;
      background-image: url('../../../../public/assets/icons/delete-blue.png');
      &:hover {
        background-image: url('../../../../public/assets/icons/delete-light-blue.png');
      }
    }
    .btn-edit-mobile,
    .btn-delete-mobile {
      background-repeat: no-repeat;
      background-position: left;
      background-color: transparent;
      background-size: 25%;
      cursor: pointer;
      color: black;
      font-size: 18px;
      z-index: 90;
      &:hover {
        color: all.$blueLight;
      }
    }
  }
}

.roundContact-large {
  height: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
  text-align: center;
  font-size: 47px;
  @include all.flexi($jc: center, $fd: row, $ai: center, $gap: unset);
  flex-wrap: nowrap;
  align-content: center;
  color: white;
  border: medium solid white;
}

.mobile-back-btn {
  display: none;
  @include all.notebook {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background: none;
    border: none;
    cursor: pointer;
    width: 32px;
    height: 32px;
    background-image: url('../../../../public/assets/icons/arrow.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

#notification {
  width: 300px;
  height: 60px;
  color: white;
  background-color: all.$blue;
  padding: 16px;
  border-radius: 10px;
  z-index: 999;
  position: fixed;
  top: 50%;
  right: -300px;
  transition: right 0.5s ease-in-out, opacity 0.5s ease-in-out;
  opacity: 0;
  &.show {
    right: 15%;
    opacity: 1;
  }
  span {
    text-align: center;
    font-size: 20px;
    height: 100%;
    width: 100%;
  }
}
