@use '../../../../public/assets/styles/all-styles.scss' as all;

.contact-site{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: flex-start;
  justify-content: flex-start;
  align-items: flex-start;
}

.main-contacts-list{
  width: 40%;
  height: calc(100vh - 96px);
  padding: 0px 20px;

  .list{
    width: 100%;
    height: calc(100% - 20px - 56px);
    overflow-y: auto;

    .letter{
      width: 100%;
      height: 58px;
      display: flex;
      align-items: flex-start;
      padding-left: 20px;
      font-size: 20px;
      flex-direction: column;
      align-content: flex-start;
      justify-content: center;
    }

    .line-contacts{
      width: 100%;
      border: 1px;
      background-color: all.$greyMid;
      height: 1px;
    }

    .simple-info{
      height: 58px;
      padding-left: 20px;
      font-size: 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
      margin: 16px 0px;
      border-radius: 10px;
      cursor: pointer;
      &:hover{
        background-color: all.$greyMid;
      }
    }

    .active{
      background-color: all.$blue;
      color: all.$grey;
    }

    .email{
      color: all.$blueLight;
    }

    .roundContact{
      border-radius: 50%;
      height: 75%;
      aspect-ratio: 1;
      text-align: center;
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: center;
      align-items: center;
    }
  }

  .add-contact-btn{
    background-image: url(/assets/icons/add-person.png);
    background-repeat: no-repeat;
    background-position: 90%;
    background-color: all.$blue;
    color: white;
    border-radius: 10px;
    border: 1px;
    width: 100%;
    height: 56px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    z-index: 90;
    &:hover{
      background-color: all.$blueLight;
    }
  }
}

.main-contact-info{
  width: 60%;
  height: 100%;
  padding: 0px 40px;

  .contact-header{
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    height: 60px;
    gap: 30px;
    &__title{
      font-size: 60px;
      width: 70%;
      font-weight: 700;
    }
    &__separator{
      height: 100%;
      width: 2px;
      background-color: all.$blueLight;
    }
    &__description{
      width: 30%;
      font-size: 18px;
      font-weight: 400px;
    }
  }

  .contact-description{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: center;
    align-items: flex-start;
    .header-details{
      width: 100%;
      height: 140px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      .roundContact-large{
        height: 100px;
        aspect-ratio: 1;
        border-radius: 50%;
        text-align: center;
        font-size: 47px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        color: white;
      }
      .name-container{
        padding-left: 20px;
        h3{
          font-size: 47px;
          margin-block-start: 0;
          margin-block-end: 0;
          font-weight: 500;
        }
        .action-buttons{
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-content: center;
          justify-content: flex-start;
          align-items: center;
          gap: 16px;
          .btn-edit{
            padding-left: 10px;
            width: 54px;
            height: 24px;
            background-image: url(/assets/icons/edit-blue.png);
            background-repeat: no-repeat;
            background-position: left;
            background-color: transparent;
            background-size: 30%;
            cursor: pointer;
            color: black;
            font-size: 18px;
            z-index: 90;
            &:hover{
              background-image: url(/assets/icons/edit-light-blue.png);
              color: all.$blueLight;
            }
          }
          .btn-delete{
            padding-left: 20px;
            width: 70px;
            height: 24px;
            background-image: url(/assets/icons/delete-blue.png);
            background-repeat: no-repeat;
            background-position: left;
            background-color: transparent;
            background-size: 25%;
            cursor: pointer;
            color: black;
            font-size: 18px;
            z-index: 90;
            &:hover{
              background-image: url(/assets/icons/delete-light-blue.png);
              color: all.$blueLight;
            }
          }
        }
      }
    }
    h4{
      font-size: 20px;
      font-weight: normal;
      padding-top: 20px;
      margin: 20px 0px;
    }
    h5{
      font-size: 18px;
      font-weight: normal;
      padding: 15px 0px;
    }
    p{
      font-size: 16px;
      font-weight: normal;
    }
  }
}
