<div class="contact-site">
  <div class="main-contacts-list">

  <button (click)="openDialogWindow('addContact')" class="add-contact-btn">Add new contact</button>

  @if (dbService.contacts().length > 0) {
    <div class="list">
      @for (contact of dbService.contacts(); track contact.id; let i = $index){
        <div>
          <div>
            @let currentLetter = contact.name[0].toUpperCase();
            @let previousContact = dbService.contacts()[i - 1];
            @if (i === 0 || currentLetter !== previousContact.name[0].toUpperCase()) {
              <div>
                <h2 class="letter">{{ currentLetter }}</h2>
                <div class="line-contacts"></div>
              </div>
            }
            </div>
            <div class="simple-info" (click)="contact.id !== undefined && openDetailDialogWindow(contact.id)" [class.active]="selectedContactId() === contact.id">
              <span class="roundContact" [style.background-color]="contact.color" >{{contact.name[0].toUpperCase()}}{{ getSecondInitial(contact.name) }}</span>
              <div>
                <span>{{ contact.name }}</span><br>
                <span class="email"><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></span>
              </div>
            </div>
          </div>
        }
    </div>
  }
  </div>

  <div class="main-contact-info">
    <div class="contact-header">
      <p class="contact-header__title">Contacts</p>
      <div class="contact-header__separator"></div>
      <p class="contact-header__description">Better with a team</p>
    </div>

    <div class="contact-description" [class.show]="selectedContactId()">
      @if (selectedContactData(); as contact) {
        <div class="header-details">
          <div class="roundContact-large" [style.background-color]="contact.color">
              {{ contact.name[0].toUpperCase() }}{{ getSecondInitial(contact.name) }}
          </div>

          <div class="name-container">
              <h3>{{ contact.name }}</h3>
              <div class="action-buttons">
                <button class="btn-edit" (click)="openDialogWindow('editContact',contact.id)">Edit</button>
                <button class="btn-delete" (click)="openDialogWindow('deleteContact',contact.id)">Delete</button>
              </div>
          </div>
        </div>
        <h4>Contact Information</h4>
        <h5 class="label">Email</h5>
        <p><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
        <h5 class="label">Phone</h5>
        <p class="value">{{ contact.phone || 'No phone number' }}</p>
      }
    </div>

  </div>

</div>

<dialog>

</dialog>
