@use '../../../../public/assets/styles/all-styles.scss' as all;

dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 90%;
  max-width: 1440px;
  height: 90%;
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
  }

  #close {
    position: absolute;
    top: 5%;
    right: 5%;
    padding: 8px;
    height: 32px;
    width: 32px;
    z-index: 999;
    cursor: pointer;
    background-color: transparent;
    background-image: url("/assets/icons/close-blue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    &:hover{
      background-image: url("/assets/icons/close-light-blue.png");
    }
    @media (max-width: 1024px){
      background-image: url("/assets/icons/close-white.png");
      &:hover{
        background-image: url("/assets/icons/close-white.png");
      }
    }
  }

  > div {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    @media (max-width: 1024px) {flex-direction: column; justify-content: flex-start;}
  }

  #left-section {
    padding-left: 40px;
    width: 40%;
    height: 100%;
    background-color: all.$blue;
    color: white;
    @include all.flexi($fd: column, $ai: flex-start);
    @media (max-width: 1024px) {width: 100%; height: 40%; padding-right: 40px;}

    #logo {
      width: 57px;
      height: 67px;
      @media (max-width: 1024px) {display: none;}
    }

    h3 {
      font-size: 6rem;
      margin-top: 10px;
      @media (max-width: 1024px){font-size: 40px;}
    }

    p {
      margin: 22.5px 0px;
      font-size: 2.8rem;
      @media (max-width: 1024px){font-size: 16px;}
    }
  }

  #right-section {
    width: 60%;
    @include all.flexi($jc: flex-start);
    @media (max-width: 1024px){flex-direction: column; top: -50px; width: 100%;}

    #user {
      width: 30%;
      @include all.flexi($ai: center);
      margin: 0px 16px;
    }

    #form-container {
      width: 100%;
      height: 100%;
      @include all.flexi($ai: center, $jc: center);

      .input-icons {
        width: 100%;
        @include all.flexi($ai: center, $jc: center);

        .icon {
          position: absolute;
          z-index: 100;
          right: 15%;
        }
      }
    }

    form {
      width: 100%;
      @include all.flexi($fd: column, $ai: center, $jc: center, $gap: 32px);
    }

    input {
      width: 80%;
      border-radius: 10px;
      box-shadow: 0px 0px 1px;
      padding: 8px 21px;
      margin: 3px;

      &::placeholder {
        font-size: 1.3rem;
      }

      &.ng-invalid.ng-touched{
        border: solid red 1px;
        box-shadow: none;
      }
    }
  }

  .error-msg{
    color: red;
    position: absolute;
    top: 45px;
    font-size: 14px;
  }

  #dialog-buttons {
    width: 100%;
    @include all.flexi($jc: center, $gap: 24px);

    #create-contact{
      color: white;
      width: 45%;
      @include all.flexi($jc: flex-start, $fd: row, $ai: center, $gap: 0);
      @media (max-width: 1024px){justify-content: center; padding: 6px; width: 60%;}
      background-color: all.$blue;
      background-image: url("/assets/icons/check.png");
      background-position: 95%;
      background-size: 24px;
      &:hover{
        border-color: all.$blueLight;
        background-color: all.$blueLight;
      }
    }

    #cancel{
      color: black;
      width: 30%;
      @include all.flexi($jc: flex-start, $fd: row, $ai: center, $gap: 0);
      background-color: transparent;
      background-image: url("/assets/icons/close-blue.png");
      background-position: 90%;
      background-size: auto;
      &:hover{
        background-image: url("/assets/icons/close-light-blue.png");
        border-color: all.$blueLight;
        color: all.$blueLight;
      }
      @media (max-width: 1024px){display: none;}
    }

    #delete{
      width: 25%;
      color: black;
      background-color: transparent;
      &:hover{
        border-color: all.$blueLight;
        color: all.$blueLight;
      }
    }

    #save{
      width: 25%;
      color: white;
      background-color: all.$blue;
      background-image: url("/assets/icons/check.png");
      background-position: 95%;
      background-size: 24px;
      &:hover{
        border-color: all.$blueLight;
        background-color: all.$blueLight;
      }
    }

    #delete, #save, #cancel, #create-contact{
      padding: 16px;
      border: solid 1px all.$blue;
      border-radius: 10px;
      font-size: 20px;
      background-repeat: no-repeat;
      cursor: pointer;
    }
  }
}
