@font-face {
  font-family: 'Roboto';
  src: url(../fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

html {
  font-size: 10px;
}

h1 {
  font-size: 10rem;
}

span {
  font-size: 2rem;
}

a {
  font-size: 2rem;
}
