* {
    position: relative;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    border: initial;
    // background-color: initial;
    font-family: 'Inter';
}

@mixin flexi($jc: center, $fd: row, $ai: center, $gap: 0){
    display: flex;
    justify-content: $jc;
    flex-direction: $fd;
    align-items: $ai;
    gap: $gap;
}

@mixin text-cut {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
