$blue: rgb(42,54,71);
$blueLight: rgba(41, 171, 226, 1);
$blueDark: rgb(9,25,49);
$grey: rgb(246,247,248);
$header-height: 96px;
$nav-width: 232px;
$greyMid: #CCCCCC;

// #region Farben für Kontakte
$orange: rgba(255, 122, 0, 1);
$pink: rgba(255, 94, 179, 1);
$purpleBlue: rgba(110, 82, 255, 1);
$purple: rgba(147, 39, 255, 1);
$blueSky: rgba(0, 190, 232, 1);
$cyan: rgba(31, 215, 193, 1);
$orangeRed: rgba(255, 116, 94, 1);
$orangeLight: rgba(255, 163, 94, 1);
$pinkPurple: rgba(252, 113, 255, 1);
$yellow: rgba(255, 199, 1, 1);
$blueStrong: rgba(0, 56, 255, 1);
$yellowNeon: rgba(195, 255, 43, 1);
$yellowLight: rgba(255, 230, 43, 1);
$redLight: rgba(255, 70, 70, 1);
$gold: rgba(255, 187, 43, 1);
// #endregion
