$blue: rgb(42,54,71);
$blueLight: rgba(41, 171, 226, 1);
$blueDark: rgb(9,25,49);
$blueHover: #2A3D59;
$grey: rgb(246,247,248);
$header-height: 96px;
$nav-width: 232px;
$greyMid: #CCCCCC;
$greyLight: #E2E6EC;


