@use '../../../../public/assets/styles/all-styles.scss' as all;
@use './dialogTaskDetail.scss';

//#region fixed
.board-container {
  height: 100%;
  width: 100%;
  max-width: 1208px;
  padding: 0 clamp(20px, 5vw, 50px);

  > section {
    width: 100%;
  }
}

/* Header-Layout */

#board-header {
  @include all.flexi($jc: space-between);
  height: 232px;

  #header {
    h2 {
      font-size: 6.1rem;
    }
  }
}

.search-add-section {
  @include all.flexi($ai: center);
  gap: 20px;
}

#input-wrapper {
  height: fit-content;

  > button {
    position: absolute;
    right: 3%;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    padding: 12px 12px 12px 25px;
    margin-left: 10px;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);

      width: 1px;
      height: 80%;
      background-color: all.$greyMid;
    }
  }
}

#input-search {
  border: 1px solid all.$greyMid;
  border-radius: 8px;
  padding: 12px 70px 12px 12px;
  width: 305px;

  &::placeholder {
    font-weight: 300;
    color: all.$greyMid;
  }

  &:focus {
    border-color: all.$greyMid;
    outline: 0;
  }
}

#add-task-button {
  @include all.flexi($gap: 4px);
  padding: 8px;
  background-color: all.$blue;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 2.1rem;
  font-weight: 600;

  img {
    width: 32px;
    height: 32px;
    display: block;
  }

  .add-hover {
    display: none;
  }

  &:hover {
    background-color: all.$blueLight;
    .add-hover {
      display: block;
    }

    .add-default {
      display: none;
    }
  }
}

#add-task-button-responsive {
  padding: 4px;
  background-color: all.$blue;
  border-radius: 8px;
  cursor: pointer;
  display: none;

  img {
    width: 32px;
    height: 32px;
    display: block;
  }

  .add-hover {
    display: none;
  }

  &:hover {
    background-color: all.$blueLight;
    .add-hover {
      display: block;
      border-color: all.$blueLight;
    }

    .add-default {
      display: none;
    }
  }
}

/* Spalten-Layout */

.board-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  overflow-x: auto;
  max-width: calc(1440px - 232px);
}

.add-button {
  background-color: transparent;
  cursor: pointer;

  > img {
    display: block;
  }

  .add-button-hover {
    display: none;
  }
  &:hover {
    .add-button-hover {
      display: block;
    }
    .add-button-default {
      display: none;
    }
  }
}

.column-header {
  @include all.flexi($jc: space-between, $ai: center);
  margin-bottom: 15px;

  p {
    font-weight: 600;
    color: all.$blue;
  }
}

.board-column {
  border-radius: 8px;
}

.no-tasks-placeholder {
  background-color: #e7e7e7;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  color: #b6a8a8;
  margin-top: 10px;
  border: 2px dashed all.$greyMid;
  box-shadow: 0 2px 4px rgba(9, 30, 66, 0.08);
  p {
    font-size: 1.8rem;
  }
}

//#region Mediaquerries

@include all.notebook {
  #add-span {
    display: none;
  }
}

@include all.tablet {
  #board-header {
    @include all.flexi($fd: column, $ai: flex-start);
  }
}

@include all.mobile {
  .search-add-section {
    width: 100%;
  }

  #input-wrapper {
    width: 100%;
  }

  #input-search {
    width: 100%;
  }

  #add-task-button {
    display: none;
  }

  #add-task-button-responsive {
    display: block;
  }

  #board-header {
    height: 175px;
    gap: 16px;
    #header {
      width: 100%;
      @include all.flexi($jc: space-between, $ai: center);

      h2 {
        font-size: 47px;
      }
    }
  }

  .column-header {
    p {
      font-size: 24px;
    }
  }
}

@media (max-width: 1200px) {
  #board-content {
    .board-columns {
      display: grid;
      grid-template-columns: 1fr;
      overflow-x: visible;
    }

    .task-library {
      @include all.flexi($jc: flex-start, $fd: row, $gap: 4%);

      .task-card {
        width: 250px;
        height: 230px;
      }
    }
  }
}

//#endregion

dialog {
  // display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 75%;
  height: 80%;
  border-radius: 30px;
  border: 2px solid black;
  overflow: hidden;
  overflow-y: auto;
  animation: slide-in-right 0.2s forwards;
  // animation: slide-out-left 0.3s forwards;


  button {
    background-color: transparent;
    position: absolute;
    top: 3%;
    right: 3%;
    border-radius: 50%;
    padding: 8px;
    @include all.flexi($ai: center, $jc: center);
    z-index: 999;

    &:hover {
      background-color: all.$greyLight;
      cursor: pointer;
    }
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
    animation: fade-in 0.4s ease-out;
  }
}

//#endregion

/* Task Card Styles */
.task-library {
  @include all.flexi($jc: flex-start, $fd: column, $gap: 4%);
  width: 100%;

  .task-card {
    @include all.flexi($jc: space-between, $ai: start, $fd: column);
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 4px 2px 4px rgba(9, 30, 66, 0.25);
    cursor: grab;
    width: 100%;

    h3 {
      font-size: 16px;
      font-weight: 600;
      color: #2c3e50;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
      color: #7f8c8d;
      margin-bottom: 15px;
      line-height: 1.4;
    }

    .subtask {
      @include all.flexi($jc: flex-end);
      width: 100%;
      .subtask-done {
        position: absolute;
        left: 0;
        background: rgb(69, 137, 255);
        width: calc(48% * var(--progress, 0));
        height: 6px;
        border-radius: 3px;
      }

      .subtask-undone {
        position: absolute;
        left: 0;
        background: white;
        box-shadow: 0px 0px 3px rgb(111, 111, 111);
        width: 48%;
        height: 6px;
        border-radius: 3px;
      }

      .subtasks-nummery {
        width: 48%;
        font-size: 12px;
        color: #7f8c8d;
      }
    }

    /* Footer der Task Card */
    .task-footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      border-top: 1px solid #eee;
      padding-top: 10px;
      width: 100%;

      img {
        width: 20px;
      }
    }
  }
}

.task-type {
  display: inline-block;
  padding: 4px 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-wrap: nowrap;
}

.task-type.technical {
  background-color: #27ae60;
}

.task-type.user-story {
  background-color: #3498db;
}

.assignees {
  display: flex;
  gap: -8px; /* Für überlappende Avatare */
}

.assignee {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #bdc3c7; /* Standard Grau */
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid white; /* Weißer Rand */
  box-sizing: border-box;
  text-transform: uppercase;
}

/* Farben für die Initialen der Benutzer - WIEDER ENTFERNEN */
.initial-bg-purple {
  background-color: #8e44ad;
}
.initial-bg-blue {
  background-color: #3498db;
}
.initial-bg-orange {
  background-color: #f39c12;
}
.initial-bg-pink {
  background-color: #e91e63;
}
.initial-bg-green {
  background-color: #27ae60;
}
.initial-bg-red {
  background-color: #e74c3c;
}
