@use '../../../../public/assets/styles/all-styles.scss' as all;
@use './dialogTaskDetail.scss';
@use './drag-and-drop.scss';

.board-container {
  height: 100%;
  width: 100%;
  max-width: 1208px;
  padding: 0 clamp(20px, 5vw, 50px);

  > section {
    width: 100%;
  }
}

#board-header {
  @include all.flexi($jc: space-between);
  height: 232px;

  #header {
    h2 {
      font-size: 6.1rem;
    }
  }
}

.search-add-section {
  @include all.flexi($ai: center);
  gap: 20px;

  #input-wrapper {
    height: fit-content;

    > button {
      position: absolute;
      right: 3%;
      top: 50%;
      transform: translateY(-50%);
      background-color: white;
      padding: 4px 4px 4px 17px;
      margin-left: 10px;
      cursor: pointer;

      img {
        border-radius: 50%;
        padding: 8px;
      }

      &:hover img {
        background-color: all.$greyLight;
      }

      &::before {
        content: '';
        position: absolute;
        left: 5px;
        top: 50%;
        transform: translateY(-50%);

        width: 1px;
        height: 80%;
        background-color: all.$greyMid;
      }
    }
  }
}

#input-search {
  border: 1px solid all.$greyMid;
  border-radius: 8px;
  padding: 12px 70px 12px 12px;
  width: 305px;

  &::placeholder {
    font-weight: 300;
    color: all.$greyMid;
  }

  &:focus {
    border-color: all.$greyMid;
    outline: 0;
  }
}

#add-task-button {
  @include all.flexi($gap: 4px);
  padding: 8px;
  background-color: all.$blue;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 2.1rem;
  font-weight: 600;

  img {
    width: 32px;
    height: 32px;
    display: block;
  }

  .add-hover {
    display: none;
  }

  &:hover {
    background-color: all.$blueLight;
    .add-hover {
      display: block;
    }

    .add-default {
      display: none;
    }
  }
}

#add-task-button-responsive {
  padding: 4px;
  background-color: all.$blue;
  border-radius: 8px;
  cursor: pointer;
  display: none;

  img {
    width: 32px;
    height: 32px;
    display: block;
  }

  .add-hover {
    display: none;
  }

  &:hover {
    background-color: all.$blueLight;
    .add-hover {
      display: block;
      border-color: all.$blueLight;
    }

    .add-default {
      display: none;
    }
  }
}

.board-columns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-width: calc(1440px - 232px);
}

.add-button {
  background-color: transparent;
  cursor: pointer;

  > img {
    display: block;
  }

  .add-button-hover {
    display: none;
  }
  &:hover {
    .add-button-hover {
      display: block;
    }
    .add-button-default {
      display: none;
    }
  }
}

.column-header {
  @include all.flexi($jc: space-between, $ai: center);
  margin-bottom: 15px;

  p {
    font-weight: 600;
    color: all.$blue;
  }
}

.board-column {
  border-radius: 8px;
}

.no-tasks-placeholder {
  width: 100%;
  p {
    font-size: 1.8rem;
    background-color: #e7e7e7;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
    color: #b6a8a8;
    width: 100%;
    border: 2px dashed all.$greyMid;
    box-shadow: 0 2px 4px rgba(9, 30, 66, 0.08);
  }
}

#add-task-dialog,
#taskDetailDialogEdit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  width: 95%;
  max-width: 1050px;
  height: 98%;
  border-radius: 30px;
  overflow: hidden;
  overflow-y: auto;

  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
    animation: fade-in 0.4s ease-out;
  }

  &[open] {
    animation: slide-in-right 0.4s ease-out forwards;
  }
  &.closing {
    animation: slide-out-left 0.4s ease-in forwards;
  }
}

.dialog-close-button {
  background-color: transparent;
  position: absolute;
  top: 3%;
  right: 3%;
  border-radius: 50%;
  padding: 8px;
  @include all.flexi($ai: center, $jc: center);
  z-index: 999;

  &:hover {
    background-color: all.$greyLight;
    cursor: pointer;
  }
}

.card-header {
  @include all.flexi($jc: space-between);
  width: 100%;
}

.dropdown-button {
  display: none;
  z-index: 999;
  background-color: white;
  cursor: pointer;
}

.dropdown {
  display: none;
  position: absolute;
  width: 140px;
  height: auto;
  right: -50%;
  top: 1%;
  background-color: all.$blue;
  padding: 6px;
  border-top-left-radius: 0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1000;
  color: white;
  cursor: default;

  .dropdown-content {
    width: 100%;
    height: 100%;
    font-size: 1.4rem;
    padding: 10px;
    @include all.flexi($jc: space-between, $fd: column, $ai: flex-start);

    strong {
      margin-bottom: 8px;
    }

    > button {
      background-color: transparent;
      width: 100%;
      text-align: left;
      padding: 4px;
      cursor: pointer;
      @include all.flexi($jc: flex-start, $gap: 4px);

      &:hover {
        background-color: all.$blueHover;
      }
    }
  }
}

.dropdown.open {
  display: flex;
}

.task-library {
  @include all.flexi($jc: flex-start, $fd: column, $gap: 1.5%);
  width: 100%;
  height: 100%;
  padding-bottom: 16px;
}

.task-type {
  display: inline-block;
  padding: 4px 16px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  text-wrap: nowrap;
}

.task-type.technical {
  background-color: #27ae60;
}

.task-type.user-story {
  background-color: #3498db;
}

.assignees {
  display: flex;
  width: calc(100% - 25px);
}

.assignee {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #bdc3c7;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  border: 2px solid white;
  box-sizing: border-box;
  text-transform: uppercase;
  margin-left: -8px;
  flex-shrink: 0;
  &:first-child {
    margin-left: 0;
  }
  &.ellipsis-badge {
    background-color: #2a3647;
    font-size: 14px;
    letter-spacing: 0.5px;
    cursor: default;
  }
}

//#region Mediaquerries

@include all.notebook {
  #add-span {
    display: none;
  }
}

@include all.tablet {
  #board-header {
    @include all.flexi($fd: column, $ai: flex-start);
  }
}

@include all.mobile {
  .search-add-section {
    width: 100%;
  }

  #input-wrapper {
    width: 100%;
  }

  #input-search {
    width: 100%;
  }

  #add-task-button {
    display: none;
  }

  #add-task-button-responsive {
    display: block;
  }

  #board-header {
    height: 175px;
    gap: 16px;
    #header {
      width: 100%;
      @include all.flexi($jc: space-between, $ai: center);

      h2 {
        font-size: 47px;
      }
    }
  }

  .column-header {
    p {
      font-size: 24px;
    }
  }
}

@media (max-width: 1200px) {
  #board-content {
    .board-columns {
      display: grid;
      grid-template-columns: repeat(1, minmax(250px, 1fr));
      gap: 20px;
      width: 100%;
    }

    .board-column {
      margin-top: 30px;
    }

    .task-library {
      @include all.flexi($jc: flex-start, $fd: row, $gap: 4%);
      overflow-x: auto;
      width: 100%;
      padding-right: 15px;
      padding-bottom: 0px;

      .task-card {
        width: 250px;
        height: 230px;
        min-width: 250px;
      }
    }

    .task-library.cdk-drop-list-receiving::after,
    .no-tasks-placeholder.cdk-drop-list-receiving::after {
      width: 250px;
      height: 230px;
    }
  }
}

//#endregion
