<main class="board-container">
  <section id="board-header">
    <div id="header">
      <h2>Board</h2>
      <button id="add-task-button-responsive">
        <img class="add-default" src="assets/icons/add-board-blue.png" alt="Add Icon" />
        <img class="add-hover" src="assets/icons/add-board-light-blue.png" alt="Add Icon" />
      </button>
    </div>

    <div class="search-add-section">
      <div id="input-wrapper">
        <input id="input-search" type="text" placeholder="Find Task" />
        <button>
          <img src="assets/icons/search.png" alt="Search Icon" />
        </button>
      </div>
      <button (click)="open()" id="add-task-button">
        <span id="add-span">Add Task</span>
        <img class="add-default" src="assets/icons/add-board-blue.png" alt="Add Icon" />
        <img class="add-hover" src="assets/icons/add-board-light-blue.png" alt="Add Icon" />
      </button>
    </div>
  </section>

  <!-- Board -->
  <section id="board-content">
    <div class="board-columns">
      <!-- Spalte: To Do -->
      <div class="board-column">
        <div class="column-header">
          <p>To do</p>
          <button class="add-button" (click)="open()">
            <img class="add-button-default" src="assets/icons/add-task-blue.png" alt="Add-Button" />
            <img
              class="add-button-hover"
              src="assets/icons/add-task-light-blue.png"
              alt="Add-Button"
            />
          </button>
        </div>
        @if(dbService.todoTasks().length > 0){
          <div class="task-library">
            @for (task of dbService.todoTasks(); track task.id) {
              <div class="task-card" (click)="openTaskDetails(task)">
                <div class="task-type technical">{{task.category}}</div>
                <h3>{{task.title}}</h3>
                <p>{{task.description}}</p>
                <div class="subtask">
                  <div class="subtask-undone"></div>
                  <div class="subtask-done" [style.--progress]="dbService.getDoneSubtasksCount(task.subtasks) / task.subtasks.length"></div>
                  <span class="subtasks-nummery">{{dbService.getDoneSubtasksCount(task.subtasks)}}/{{ task.subtasks.length }} Subtasks</span>
                </div>
                <div class="task-footer">
                  <div class="assignees">
                    @for (assignment of task.task_assignments; track assignment.contacts.id) {
                      <span class="assignee" [style.background-color]="assignment.contacts.color">
                        {{ dbService.getInitials(assignment.contacts.name) }}
                      </span>
                    }
                  </div>
                  @switch (task.priority) {
                    @case ('Urgent') {<img src="assets/icons/urgent-red.png" alt="Priority Up" />}
                    @case ('Medium') {<img src="assets/icons/medium-orange.png" alt="Priority Up" />}
                    @case ('Low') {<img src="assets/icons/low-green.png" alt="Priority Up" />}
                  }
                </div>
              </div>
            }
          </div>
        } @else {
          <div class="no-tasks-placeholder">
            <p>No tasks to do</p>
          </div>
        }
      </div>

      <!-- Spalte: In Progress -->
      <div class="board-column">
        <div class="column-header">
          <p>In progress</p>
          <button class="add-button" (click)="open()">
            <img class="add-button-default" src="assets/icons/add-task-blue.png" alt="Add-Button" />
            <img
              class="add-button-hover"
              src="assets/icons/add-task-light-blue.png"
              alt="Add-Button"
            />
          </button>
        </div>
        @if(dbService.inProgressTasks().length > 0){
          <div class="task-library">
            @for (task of dbService.inProgressTasks(); track task.id) {
              <div class="task-card" (click)="openTaskDetails(task)">
                <div class="task-type technical">{{task.category}}</div>
                <h3>{{task.title}}</h3>
                <p>{{task.description}}</p>
                <div class="subtask">
                  <div class="subtask-undone"></div>
                  <div class="subtask-done" [style.--progress]="dbService.getDoneSubtasksCount(task.subtasks) / task.subtasks.length"></div>
                  <span class="subtasks-nummery">{{dbService.getDoneSubtasksCount(task.subtasks)}}/{{ task.subtasks.length }} Subtasks</span>
                </div>
                <div class="task-footer">
                  <div class="assignees">
                    @for (assignment of task.task_assignments; track assignment.contacts.id) {
                      <span class="assignee" [style.background-color]="assignment.contacts.color">
                        {{ dbService.getInitials(assignment.contacts.name) }}
                      </span>
                    }
                  </div>
                  @switch (task.priority) {
                    @case ('Urgent') {<img src="assets/icons/urgent-red.png" alt="Priority Up" />}
                    @case ('Medium') {<img src="assets/icons/medium-orange.png" alt="Priority Up" />}
                    @case ('Low') {<img src="assets/icons/low-green.png" alt="Priority Up" />}
                  }
                </div>
              </div>
            }
          </div>
        }
        @else {
          <div class="no-tasks-placeholder">
            <p>No tasks to do</p>
          </div>
        }
      </div>

      <!-- Spalte: Await Feedback -->
      <div class="board-column">
        <div class="column-header">
          <p>Await feedback</p>
          <button class="add-button" (click)="open()">
            <img class="add-button-default" src="assets/icons/add-task-blue.png" alt="Add-Button" />
            <img
              class="add-button-hover"
              src="assets/icons/add-task-light-blue.png"
              alt="Add-Button"
            />
          </button>
        </div>
        @if(dbService.awaitingFeedbackTasks().length > 0){
          <div class="task-library">
            @for (task of dbService.awaitingFeedbackTasks(); track task.id) {
              <div class="task-card" (click)="openTaskDetails(task)">
                <div class="task-type technical">{{task.category}}</div>
                <h3>{{task.title}}</h3>
                <p>{{task.description}}</p>
                <div class="subtask">
                  <div class="subtask-undone"></div>
                  <div class="subtask-done" [style.--progress]="dbService.getDoneSubtasksCount(task.subtasks) / task.subtasks.length"></div>
                  <span class="subtasks-nummery">{{dbService.getDoneSubtasksCount(task.subtasks)}}/{{ task.subtasks.length }} Subtasks</span>
                </div>
                <div class="task-footer">
                  <div class="assignees">
                    @for (assignment of task.task_assignments; track assignment.contacts.id) {
                      <span class="assignee" [style.background-color]="assignment.contacts.color">
                        {{ dbService.getInitials(assignment.contacts.name) }}
                      </span>
                    }
                  </div>
                  @switch (task.priority) {
                    @case ('Urgent') {<img src="assets/icons/urgent-red.png" alt="Priority Up" />}
                    @case ('Medium') {<img src="assets/icons/medium-orange.png" alt="Priority Up" />}
                    @case ('Low') {<img src="assets/icons/low-green.png" alt="Priority Up" />}
                  }
                </div>
              </div>
            }
          </div>
        } @else {
          <div class="no-tasks-placeholder">
            <p>No tasks to do</p>
          </div>
        }
      </div>

      <!-- Spalte: Done -->
      <div class="board-column">
        <div class="column-header">
          <p>Done</p>
        </div>
        @if(dbService.doneTasks().length > 0){
          <div class="task-library">
            @for (task of dbService.doneTasks(); track task.id) {
              <div class="task-card" (click)="openTaskDetails(task)">
                <div class="task-type technical">{{task.category}}</div>
                <h3>{{task.title}}</h3>
                <p>{{task.description}}</p>
                <div class="subtask">
                  <div class="subtask-undone"></div>
                  <div class="subtask-done" [style.--progress]="dbService.getDoneSubtasksCount(task.subtasks) / task.subtasks.length"></div>
                  <span class="subtasks-nummery">{{dbService.getDoneSubtasksCount(task.subtasks)}}/{{ task.subtasks.length }} Subtasks</span>
                </div>
                <div class="task-footer">
                  <div class="assignees">
                    @for (assignment of task.task_assignments; track assignment.contacts.id) {
                      <span class="assignee" [style.background-color]="assignment.contacts.color">
                        {{ dbService.getInitials(assignment.contacts.name) }}
                      </span>
                    }
                  </div>
                  @switch (task.priority) {
                    @case ('Urgent') {<img src="assets/icons/urgent-red.png" alt="Priority Up" />}
                    @case ('Medium') {<img src="assets/icons/medium-orange.png" alt="Priority Up" />}
                    @case ('Low') {<img src="assets/icons/low-green.png" alt="Priority Up" />}
                  }
                </div>
              </div>
            }
          </div>
        } @else {
          <div class="no-tasks-placeholder">
            <p>No tasks to do</p>
          </div>
        }
      </div>
    </div>
  </section>

  <dialog #dialog (click)="checkClickOutside($event)">
    <button (click)="close()">
      <img src="assets/icons/close-blue.png" alt="Close" />
    </button>
    <app-add-task></app-add-task>
  </dialog>

  <dialog #taskDetailDialog>
    @if (dbService.selectedTask(); as task) {
    <div (click)="$event.stopPropagation()">
      <div>
        <span>{{ task.category }}</span>
        <button (click)="closeTaskDetails()">X</button>
      </div>
      <h3>{{ task.title }}</h3>
      <p>{{ task.description }}</p>
      <div>
        <strong>Due date:</strong> {{ task.due_date }}
      </div>
      <div>
        <strong>Priority:</strong> {{ task.priority }}
      </div>
      <!-- "assigned-to-section" -->
      <div>
        <h3>Assigned To:</h3>
        @for (assignment of task.task_assignments; track assignment.contacts.id) {
          <div>
            <div style="height: 30px; aspect-ratio: 1; border-radius: 50%; color: white; font-size: 16px; display: flex; justify-content: center; align-items: center;" [style.background-color]="assignment.contacts.color">
              {{ dbService.getInitials(assignment.contacts.name) }}
            </div>
            <span>{{ assignment.contacts.name }}</span>
          </div>
        }
      </div>
      <!-- Subtask section -->
      <div>
        <h3>Subtasks:</h3>
        @for (subtask of task.subtasks; track subtask.id) {
          <div>
            <input type="checkbox" [checked]="subtask.is_done" (change)="dbService.toggleSubtaskStatus(subtask)">
            <span>{{ subtask.title }}</span>
          </div>
        }
      </div>
      <!-- Buttons section -->
      <div>
        <button>Delete</button>
        <button>Edit</button>
      </div>
    </div>
  }
  </dialog>
</main>
