@use '../../../../public/assets/styles/all-styles.scss' as all;

#taskDetailDialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  width: 525px;
  height: 930px;
  @include all.notebook {
    width: 40%;
    min-width: 300px;
  }
  background-color: white;
  border-radius: 30px;
  overflow: hidden;
  padding: 48px 40px;

  &::backdrop {
    background: rgba(0, 0, 0, 0.3);
    animation: fade-in 0.4s ease-out;
  }

  .task-detail-header {
    width: 100%;
    height: 35px;
    @include all.flexi($jc: space-between);
    flex-wrap: nowrap;
    align-content: center;

    .category {
      padding: 4px 24px;
      border-radius: 8px;
      color: white;
      font-style: normal;
      font-weight: 400;
      font-size: 23px;
      line-height: 120%;
      width: auto;
      height: auto;
    }
    .user-story {
      background-color: #1385d1;
    }
    .technical {
      background-color: #27ae60;
    }
  }

  .title-description {
    h2 {
      font-size: 4rem;
    }

    p{
      font-size: 2.4rem;
    }
  }

  .date-priority{
  display: grid;
  /* Die erste Spalte bekommt 25%, die zweite nimmt den Rest (75%) */
  grid-template-columns: 25% 1fr; 
  /* Erstellt zwei Zeilen (optional, passt sich sonst dem Inhalt an) */
  grid-template-rows: auto auto; 
  gap: 10px; /* Optionaler Abstand zwischen den Boxen */

  >div{
    display: flex;
    align-items: center;
   

    >img{
      margin-left: 8px;
      width: 10px;
      height: 10px;
    }
  }
    strong{
      font-size: 2rem;
    }
    span{
      font-size: 1.8rem;
    }
  }

}
