@use '../public/assets/styles/all-styles.scss' as all;

app-mainpage {
  background-color: all.$grey;
}

app-add-task {
  padding: 4% 6%;
  height: calc(100dvh - all.$header-height);
}

app-root {
  display: grid;
  height: 100dvh;
  background-color: all.$grey;
  width: 100%;
  overflow: hidden;

  // --- MOBILE ---
  grid-template-columns: 1fr;
  grid-template-rows: 96px 1fr 80px;
  grid-template-areas:
    'header'
    'content'
    'navbar';
  // --- Desktop ---
  @include all.desktop {
    grid-template-columns: 232px 1fr;
    grid-template-rows: 96px 1fr;
    grid-template-areas:
      'navbar header'
      'navbar content';
  }
}

.navbar {
  grid-area: navbar;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 10px;
}
