@use '../public/assets/styles/all-styles.scss' as all;

app-mainpage {
  background-color: all.$grey;
}

app-root {
  display: grid;
  grid-template-columns: 232px 1fr;
  grid-template-rows: 96px;
  height: 100dvh;
}
