@use '../public/assets/styles/all-styles.scss' as all;

app-mainpage {
  background-color: all.$grey;
}

app-add-task {
  padding: 4% 6%;
  height: calc(100dvh - all.$header-height);
}

app-root {
  display: grid;
  grid-template-columns: 232px 1fr;
  grid-template-rows: 96px;
  height: 100dvh;
  background-color: all.$grey;
}
