@use '../public/assets/styles/all-styles.scss' as all;

app-mainpage {
  background-color: all.$grey;
}

app-add-task {
  padding: 4% 6%;
  height: calc(100dvh - all.$header-height);

  @media (max-width: 1250px) {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  @include all.notebook {
    padding-inline: 0%;
  }
}

app-root {
  display: grid;
  height: 100dvh;
  background-color: all.$grey;
  width: 100%;
  overflow: hidden;

  // --- MOBILE ---
  grid-template-columns: 1fr;
  grid-template-rows: 75px 1fr 80px;
  grid-template-areas:
    'header'
    'content'
    'navbar';
  // --- Desktop ---
  @include all.desktop {
    grid-template-columns: 232px 1fr;
    grid-template-rows: 96px 1fr;
    grid-template-areas:
      'navbar header'
      'navbar content';
  }
}

.navbar {
  grid-area: navbar;
}

.header {
  grid-area: header;
}

.content {
  grid-area: content;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #dedede;
  border-radius: 10px;
}

::-webkit-scrollbar-button:vertical:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment {
  display: block;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  height: 12px;
  background-color: transparent;
}

::-webkit-scrollbar-button:vertical:start:decrement {
  background-image: url("../public/assets/icons/scroll-up.png");
}

::-webkit-scrollbar-button:vertical:end:increment {
  background-image: url("../public/assets/icons/scroll-down.png");
}
