<div class="board-column">
  <div class="column-header">
    <p>{{ title }}</p>
    @if(title != "Done"){
    <button class="add-button" (click)="addTask.emit(columnId)">
      <img class="add-button-default" src="assets/icons/add-task-blue.png" alt="Add-Button" />
      <img class="add-button-hover" src="assets/icons/add-task-light-blue.png" alt="Add-Button" />
    </button>
    }
  </div>

  <div
    class="task-library"
    [id]="columnId"
    cdkDropList
    [cdkDropListData]="tasks"
    (cdkDropListDropped)="dropEvent.emit($event)"
    [cdkDropListOrientation]="orientation"
    [cdkDropListDisabled]="dragDisabled"
    cdkScrollable
  >
    @if (tasks.length > 0) {
      @for (task of tasks; track task.id) {
        <div cdkDrag [cdkDragData]="task" class="task-card" (click)="openTask.emit(task)">

          <div class="card-header">
            <div [class]="task.category === 'Technical Task' ? 'task-type technical' : 'task-type user-story'">
              {{ task.category }}
            </div>

            <button class="dropdown-button" (click)="toggleMenu(task.id!); $event.stopPropagation()">
              <img src="assets/icons/swap.png" alt="swap" />
            </button>
            <div class="dropdown" (click)="$event.stopPropagation()" [class.open]="activeDropdownId() === task.id">
               <div class="dropdown-content">
                  <strong>Move to</strong>
                  <button (click)="moveTask(task.id!, 'ToDo')">To Do</button>
                  <button (click)="moveTask(task.id!, 'In Progress')">In Progress</button>
                  <button (click)="moveTask(task.id!, 'Awaiting Feedback')">Review</button>
                  <button (click)="moveTask(task.id!, 'Done')">Done</button>
               </div>
            </div>
          </div>

          <h3>{{ task.title }}</h3>
          <p>{{ task.description }}</p>

          @if (task.subtasks && task.subtasks.length > 0) {
            <div class="subtask">
              <div class="subtask-undone"></div>
              <div class="subtask-done"
                   [style.--progress]="taskService.getDoneSubtasksCount(task.subtasks) / task.subtasks.length">
              </div>
              <span class="subtasks-nummery">
                {{ taskService.getDoneSubtasksCount(task.subtasks) }}/{{ task.subtasks.length }} Subtasks
              </span>
            </div>
          }

          <div class="task-footer">
            <div class="assignees">
              @for (assignment of task.task_assignments.slice(0, 3); track assignment.contacts.id) {
                <span class="assignee" [style.background-color]="assignment.contacts.color">
                  {{ contactService.getInitials(assignment.contacts.name) }}
                </span>
              }
              @if (task.task_assignments.length > 3) {
                <span class="assignee ellipsis-badge"> +{{ task.task_assignments.length - 3 }} </span>
              }
            </div>
            <img [src]="'assets/icons/' + task.priority.toLowerCase() + (task.priority === 'Urgent' ? '-red' : task.priority === 'Medium' ? '-orange' : '-green') + '.png'" alt="Priority" />
          </div>
        </div>
      }
    } @else {
      <div class="no-tasks-placeholder">
        <p>No tasks {{ title.toLowerCase() }}</p>
      </div>
    }
  </div>
</div>
